<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676601837216-g5odnh1seg0u5pg62esj640gib8uj6fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676601837216-g5odnh1seg0u5pg62esj640gib8uj6fr</string>
	<key>API_KEY</key>
	<string>AIzaSyChx6ojNNVa9s8VZhDAHg6PaIvjS-FPfHs</string>
	<key>GCM_SENDER_ID</key>
	<string>676601837216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MattDev.caught-a-vibe</string>
	<key>PROJECT_ID</key>
	<string>caught-a-vibe-c0a82</string>
	<key>STORAGE_BUCKET</key>
	<string>caught-a-vibe-c0a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676601837216:ios:1814b4ccdcc1174d4cfbc5</string>
</dict>
</plist>